body{
    height: 150vh;
    background-color: rgb(45, 142, 216);
}

div#imagem-de-fundo{
    background-image: url("fts/copindeplastico.jfif");
}
.bg-dark{
    background:transparent !important
}

.nav-link:hover{
    background-color: rgba(233, 233, 233, 0.362);
    border-radius: 10px;
}